.postList {
  width: 100%;
}

.container {
  width: 100%;
  max-width: 1280px;
  padding: 0 10px;
  margin: 0 auto;
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 29px 41px;
}
