.allPosts {
  display: flex;
  flex-direction: column;
}

.postList {
  display: flex;
  flex-wrap: wrap;
  gap: 29px 41px;
}

.title {
  width: 100%;
}

.loadButton {
  margin-top: 50px;
}

.noPostsTitle {
  margin: 30vh 0 0 30rem;
}
